/*--------------- 
   Google Font
----------------- */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

/*-------------------
   Common Styles 
 -------------------*/
body {
    margin: 0 auto;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

/*------------------
 Home Page Styles
 ------------------ */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-page {
    display: flex;
    background-color: #161616;
    height: 613px;
    width: 1380px;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 30px;
    margin-top: 3.125em;
}
.main-page-content {
    padding-left: 6em;
    white-space: normal;
}

#content-title {
    font-weight: 700;
    font-size: 70px;
    color: #ffffff;
}
.content-details {
    font-weight: 400;
    font-size: 16px;
    color: #ffffff;
    margin-top: -44px;
}
.main-page-content > a {
    text-decoration: none;
    text-align: center;
    color: white;
    font-weight: 400;
    font-size: 20px;
    background-color: red;
    padding: 10px 15px;
    border-radius: 5px;
}
.fa-greater-than {
    color: white;
    font-size: 18px;
}
.main-page-image img {
    height: 36.25em;
    padding-top: 2.5em;
}

/*----------------
  Blog Page Styles
-------------------*/
.blog-section {
    margin-top: 2em;
    display: flex;
    justify-content: center;
}

.blog-nav {
    display: flex;
    flex-direction: column;
    padding: 0px 100px;
    margin-right: 27px;
    width: 120px;
    max-width: 120px;
    height: 250px;
    max-height: 250px;
    background-color: #161616;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 10px;
}
.blog-nav > a {
    text-align: center;
    text-decoration: none;
    background-color: #ffffff;
    width: 13.75em;
    color: #161616;
    padding: 10px 15px;
    border-radius: 10px;
}
.blog-nav > .highlighted-nav {
    background-color: #dd0000;
    color: #ffffff;
}
.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1.5em;
    justify-content: center;
    align-items: center;
}
.article {
    border: 1px solid #e8e8e8;
    border-radius: 12px;
}
.blog-details {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 7px;
}

/*-------------------- 
Footer Section Styles 
-----------------------*/
.footer-section {
    text-align: center;
    background-color: #161616;
    margin-top: 6em;
}
.footer-container {
    padding: 5px 0;
}
.footer-title > h2 {
    font-weight: 600;
    font-size: 40px;
    color: #ffffff;
}
.footer-options {
    margin-top: 2em;
    display: flex;
    column-gap: 2em;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
.footer-options > a {
    text-align: center;
    text-decoration: none;
    color: #b9b9b9;
    font-weight: 500;
    font-size: 16px;
}
.social-icon > a {
    color: #ffffff;
    font-size: 25px;
    padding-left: 1em;
}
.horizontal-line {
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 1320px;
}

/*---------------- 
    media-query 
------------------*/

/*------------------
 Mobile-Devices
 -------------------*/
@media only screen and (max-width: 688px) {
    .main-page {
        width: 92%;
        flex-direction: column;
        margin: 1em;
    }
    .main-page-content {
        width: 100%;
        padding: 0;
    }

    #content-title {
        font-size: 24px;
        text-align: center;
        margin-bottom: 69px;
    }
    .content-details {
        font-weight: 400;
        font-size: 16px;
        color: #ffffff;
        text-align: center;
    }
    .main-page-content > a {
        margin-left: 4.5em;
    }
    .main-page-image img {
        height: 19em;
        width: 100%;
        padding: 0;
        margin: 0;
        padding-top: 3.4em;
    }

    .blog-section {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
    .blog-nav {
        margin-right: 1.25em;
        background-color: #ffffff;
    }
    .non-highlighted-nav {
        border: 1px solid lightgray;
    }
    .blogs {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1.5em;
        margin-top: 2em;
        margin-right: 1.5em;
    }
    .horizontal-line {
        width: 90%;
    }
    .footer-options {
        display: flex;
        flex-direction: column;
        row-gap: 2em;
    }
    .social-icon {
        margin-right: 1em;
    }
}

/*----------------
 tablet devices
 ------------------- */
@media only screen and (min-width: 688px) and (max-width: 992px) {
    .container {
        display: flex;
        width: 100%;
        margin-left: 2em;
    }
    .main-page {
        margin-right: 4em;
        width: 704px;
        height: 454px;
        margin-top: 3.125em;
    }
    .main-page-content {
        font-size: 5px;
        padding-left: 6em;
    }
    #content-title {
        font-size: 40px;
        margin: 0;
    }
    .content-details {
        font-size: 14px;
        margin-top: 0;
    }
    .main-page-image img {
        height: 25.25em;
        padding-top: 3.5em;
    }
    .blog-section {
        flex-direction: column;
        align-items: center;
    }
    .blog-nav {
        padding: 0px 106px;
        margin-right: 1px;
        width: 430px;
        max-width: none;
        height: 230px;
        max-height: none;
        flex-direction: row;
        align-items: center;
        background-color: #ffffff;
    }
    .blog-nav > a {
        margin-right: 1em;
        border: 1px solid lightgray;
    }
    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }
    .footer-options{
        column-gap: 1em;
    }
}
